<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header nav-tabs">
      <a href="#" class="navbar-brand">sEvents</a>
    </div>
    <ul class="nav navbar-nav nav-tabs">
      <li role="presentation"><a href=""  routerLinkActive="active" routerLink="">Events</a></li>
      <li role="presentation"><a href=""  routerLinkActive="active">B</a></li>
      <li role="presentation"><a href=""  routerLinkActive="active">C</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right nav-tabs">
      <li><a href="" routerLinkActive="active" routerLink="/login">Login</a></li>
      <li><a href="" routerLinkActive="active" routerLink="/register">Register</a></li>
    </ul>
  </div>
</nav>
